@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: beige;
    color: #006;
    font-family: 'Roboto', sans-serif;
}

.about {
    color: #004;
    opacity: 0.6;
}

.hobbies {
    background-color: rgba(01, 99, 250, 0.1);
    border-radius: 2%;
    padding: 8px;
    margin: 20px 0px;
}

.experience {
    background-color: rgba(100, 17, 202, 0.1);
    padding: 8px;
    margin: 20px 0px;
}

.write {
    background-color: rgba(250, 60, 90, 0.2);
    border-radius: 1%;
    padding: 8px;
    margin: 20px 0px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    border-radius: 5%;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 100, 0, .4);
}